/vendor/
node_modules/
npm-debug.log*
yarn-error.log*
.pnp.*
.pnp.cjs

.env
.env.*.local
/.idea/
/.vscode/
/.fleet

# Vite artifacts (jangan di-commit)
public/build
public/hot

# Laravel storage
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/public
!/storage/app/public/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Compiled & cache
.phpunit.result.cache
bootstrap/cache/*
!bootstrap/cache/.gitignore
# Allow placeholder .gitignore inside storage/framework subdirs
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/
!/storage/framework/sessions/.gitignore
!/storage/framework/views/
!/storage/framework/views/.gitignore
